* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
position: relative;
}



img {

    width: 100%;
    
}

.container {
    margin: auto;
    
}

.clr {
    clear: both;
}